@import "footer2.css";
@import "header.css";

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Monument Extended", Arial, Helvetica, sans-serif;
}

body {
    min-width: 420px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    position: absolute;
    transform-style: preserve-3d;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.slider-image {
    width: 100%;
}

/* General styles */
.sim-slider {
    position: relative;
}

.sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.sim-slider-element {
    width: 100%;
    transition: opacity 1s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
}

.sim-slider-element img{
    height: auto;
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 4;
}

div.sim-slider-arrow-left {
    left: 10px;
    top: 40%;
    display: block;
    background: url("sim-arrow-left.svg") no-repeat;
}

div.sim-slider-arrow-right {
    right: 10px;
    top: 40%;
    display: block;
    background: url("sim-arrow-right.svg") no-repeat;
}

div.sim-slider-arrow-left:hover {
    opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
    opacity: 1.0;
}

div.sim-slider-dots {
    width: 100%;
    height: auto;
    margin-top: 35%;
    position: absolute;
    top: -16px;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
}

span.sim-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
}

.grid_container_news{
    width: 100%;
    display: grid;
    position: relative;
    grid-gap: var(--gutter);
    grid-template-columns: repeat(4, 1fr);
}

.black{
   margin-top: 35%;
}

.news{
    z-index: 1;
    width: 380px;
    margin: 0 auto;
    display:inline-block;
    height: cover;
}

.news img{
    margin-left: 2%;
    width: 96%;
}

.title_news{
    text-transform: uppercase;
    font-size: 150%;
    margin-top: 3px;
    margin-bottom: 0;
}

.info_news{
    color: grey;
    margin-top: 0;
    margin-bottom: 33px;
}
.bmw_history_grid{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: grid;
    margin: 0 auto;
    position: relative;
    grid-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
}

.bmw_history_grid div{
    width: 100%;
    margin: 0 auto;
}

.bmw_history_grid img{
    width: 100%;
    float: left;
}

.bmw_history_grid div button {
    border: solid 2px #ffffff;
    padding: 14px 0;
    border-radius: 4px;
    width: 230px;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
    transition: border-bottom-color 0.3s ease-in-out;
    margin-top: 5px;
}

.bmw_history_grid div button:hover {
    border-bottom: solid 2px #ff0000;
    transition: border 0.3s ease-in-out;
}

@media screen and (max-width: 1700px) {
    .grid_container_news{
        grid-template-columns: repeat(3, 1fr);
    }

    .grid_container_footer{
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 1300px) {
    .grid_container_news{
        grid-template-columns: repeat(2, 1fr);
    }

    .bmw_history_grid{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }

    .bmw_history_grid div button {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 900px) {
    .grid_container_news{
        grid-template-columns: repeat(1, 1fr);
    }

    .bmw_history_grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .bmw_history_grid div button {
        margin-bottom: 0px;
    }
}

.black{
    z-index: 1;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background: #111;
    width: 94%;
    color: white;
}

.white{
    z-index: -1;
    background: white;
    position: absolute;
    width: 150%;
    top: 50%;
    margin-left: -25%;
}

.black h1{
    margin-bottom: 35px;
}

a{
    text-decoration: none;
}

.more_news{
    color: white;
}

.more_news:hover{
    text-decoration: underline;
}

.white_container{
    background-color: white;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
}
